@use "../../App" as styles

.header
  display: flex
  width: 90%
  padding-top: 5vh

.headerContent
  display: flex

.companyTitle
  color: #3C79FF
  font-weight: 800 !important
  line-height: 36.31px !important
  letter-spacing: 0.05em !important
  text-align: left !important

.phoneSection
  display: flex
  gap: 1vw
  margin-left: 4.232vw
  margin-right: 0.651vw

.phoneContainer
  color: black

.aroundClockLabel
  font-family: styles.$inter-font !important
  font-size: 9px !important
  font-weight: 500 !important
  line-height: 10.89px !important
  letter-spacing: 0.05em !important
  text-align: center !important

.aroundClockPhone
  font-family: styles.$montserrat-font !important
  font-size: 18px !important
  font-weight: 700 !important
  line-height: 21.94px !important
  letter-spacing: 0.05em !important
  text-align: left !important

.headerButtonsGroup
  display: flex
  gap: 0.651vw

.personalCabinetBtn
  gap: .5vw
  background-color: white !important
  color: styles.$primary-color !important
  border: .125vw solid styles.$primary-color !important