@use "../../App" as styles

.diagnosisBanner
  display: flex !important
  max-width: 100% !important
  min-height: 346px !important
  color: white !important
  border-radius: 0.625vw !important

.bannerInfo
  padding-left: 26px !important
  padding-right: 61px !important

.bannerImage
  border-radius: 0.625vw !important

.bannerTitle
  margin-top: 33.75px !important
  font-family: styles.$montserrat-font !important
  font-weight: bold !important
  font-size: 28px !important
  letter-spacing: 0.05em !important
  line-height: 34px !important

.titleDivider
  width: 5.352vw !important
  height: 3px !important
  margin-top: 18px !important
  background-color: white !important
  border-radius: 1.25vw !important

.bannerDescription
  margin-top: 42px !important
  font-family: styles.$inter-font !important
  font-weight: 600 !important
  font-size: 12px !important
  letter-spacing: 0.05em !important
  line-height: 15px !important

.buttonsContainer
  display: flex !important
  flex-wrap: wrap !important
  column-gap: 1.016vw !important
  row-gap: 16px !important
  width: 39.063vw !important
  margin-top: 35px !important

  button
    width: auto !important
    height: 34px !important
    padding: 0 !important
    background-color: white !important