@use "../../App" as styles

.diagnosisBanner
  display: flex
  width: 87.109vw
  height: 346px
  color: white
  border-radius: 0.625vw

.bannerInfo
  padding-left: 2.031vw

.bannerImage
  border-radius: 0.625vw

.bannerTitle
  margin-top: 33.75px
  font-family: styles.$montserrat-font
  font-weight: bold
  font-size: 28px
  letter-spacing: 0.05em
  line-height: 34px

.titleDivider
  width: 5.352vw
  height: 3px
  margin-top: 18px
  background-color: white
  border-radius: 1.25vw

.bannerDescription
  width: 42.578vw
  margin-top: 42px
  font-family: styles.$inter-font
  font-weight: 600
  font-size: 12px
  letter-spacing: 0.05em
  line-height: 15px

.buttonsContainer
  display: flex
  flex-wrap: wrap
  column-gap: 1.016vw
  row-gap: 16px
  width: 39.063vw
  margin-top: 35px

  button
    width: auto !important
    height: 34px !important
    padding: 0 !important
    background-color: white