@use "../../App" as styles

.ourMedicsContainer
  align-self: flex-start !important

.containerTitle
  margin-top: 38px !important
  font-size: 40px !important
  letter-spacing: 0.05em !important
  line-height: 61px !important
  font-weight: bold !important
  font-family: styles.$montserrat-font !important

.cardsContainer
  overflow-x: scroll !important
  display: flex !important
  gap: 39px !important
  margin-top: 54px !important