@use "../../App" as styles

.ourMedicsContainer
  align-self: flex-start

.containerTitle, .cardsContainer
  margin-left: 95px

.containerTitle
  margin-top: 38px
  font-size: 40pt
  letter-spacing: 0.05em
  line-height: 61px
  font-weight: bold
  font-family: styles.$montserrat-font

.cardsContainer
  display: flex
  gap: 3.047vw
  margin-top: 54px