@use "../../App" as styles

.consultationMenu
  width: 100% !important
  margin-top: 23px !important

.buttonsContainer
  display: flex !important
  gap: 19px !important

  button
    height: 38px !important
    padding: 0 !important
    border-radius: 0.5vw !important
    font-weight: 600 !important
    font-size: 14px !important

.menuBtn
  width: 164px !important
  background-color: white !important
  color: #757575 !important

.selectedMenuBtn
  width: 179px !important
  background-color: styles.$primary-color !important