@use "../../App?v=1.0.1" as styles

.endoscopyBanner
  width: 87.109vw

.firstRow
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 61px

.firstRowTitle
  font-family: styles.$montserrat-font
  font-weight: bold
  font-size: 40px
  letter-spacing: 0.05em
  line-height: 61px

.buttonsContainer
  display: flex
  gap: 1.094vw

  button
    width: 256px !important
    height: 43px !important
    padding-inline: 0 !important
    color: styles.$button-color !important
    border: 1px solid styles.$button-border-color
    font-weight: 600 !important