@use "../../App" as styles

.cardImage
  height: 255px

.cardContent
  padding: 27px 2.422vw
  background-color: styles.$primary-color

.cardInfo
  display: flex
  justify-content: space-between
  align-items: center

.checkUpType
  width: 154px
  color: white
  font-family: styles.$montserrat-font
  font-weight: bold
  font-size: 18px

.detailsBtn
  width: 127px !important
  height: 43px !important
  background-color: styles.$secondary-color
  border-radius: 0.5vw !important