@use "../../App" as styles

.equipmentCard
  width: 27.031vw

.cardImage
  width: 58.671%
  padding: 30px 20.52% 18px

.cardContent
  padding: 0 !important

.infoContainer
  background-color: rgba(234, 234, 234, 0.33)
  margin: 0 16px 16px 16px
  padding-inline: 20px

.equipmentNaming, .equipmentFeature
  font-family: styles.$montserrat-font
  letter-spacing: 0.05em
  line-height: 61px

.equipmentNaming
  font-weight: bold
  font-size: 18px

.featuresList
  margin: 0

.equipmentFeature
  font-weight: 500
  font-size: 14px