.container
  display: flex
  gap: 20px
  justify-content: space-between
  align-items: center
  width: 100%
  padding: 0 !important
  border-radius: 6px
  background-color: #fff

//.searchBar
//  margin-left: 5vw !important

@media (max-width: 991px)
.container
  flex-wrap: wrap
  padding: 0 20px

.searchIcon
  aspect-ratio: 1.12
  object-position: center
  width: 18px

.navLinks
  display: flex
  gap: 20px
  font-size: 18px
  color: var(--Main-Blue, #3c79ff)
  font-weight: 700
  text-transform: capitalize
  letter-spacing: 0.9px
  margin: auto 0

input.MuiInputBase-input.MuiOutlinedInput-input
  padding: 0 !important