.container
  display: flex !important
  gap: 20px !important
  justify-content: space-between !important
  align-items: center !important
  width: calc(100% - 84px) !important
  min-height: 67px !important
  margin-top: 20px !important
  padding: 0 42px !important
  border-radius: 6px !important
  background-color: #fff !important

//.searchBar
//  margin-left: 5vw !important

@media (max-width: 991px)
.container
  flex-wrap: wrap !important
  //padding: 0 20px !important

.searchIcon
  aspect-ratio: 1.12 !important
  object-position: center !important
  width: 18px !important

.navLinks
  display: flex !important
  gap: 20px !important
  font-size: 18px !important
  color: var(--Main-Blue, #3c79ff) !important
  font-weight: bold !important
  text-transform: capitalize !important
  letter-spacing: 0.05em !important
  line-height: 22px !important