@use "../../App" as styles

.medicCard
  display: flex !important
  margin-top: 7.5vh !important
  padding: 35px !important
  background-color: white !important
  border-radius: 10px !important

.medicAvatar
  width: 100px !important
  height: 170px !important
  background-color: rgba(234, 234, 234, 0.53) !important
  border-radius: 4px !important
  margin-bottom: 20px !important

.medicInfoBtn
  width: max-content !important
  color: black !important
  border: .0625vw solid #e0e0e0 !important
  border-radius: 12px !important

.medicInfoTypography
  font-family: styles.$inter-font !important
  font-weight: bold !important

  &:nth-child(2)
    color: styles.$primary-color

.primaryInfo, .secondaryInfo
  display: flex !important
  flex-direction: column !important
  gap: 5vh !important

.primaryInfo
  margin-left: 5vw !important

.secondaryInfo
  align-items: center !important
  gap: 14px !important

.listTitle
  font-weight: bold !important

.listTitle, .listItem
  font-family: styles.$montserrat-font !important

.fullName
  font-family: styles.$montserrat-font !important
  font-weight: bold !important

.occupation
  color: styles.$primary-color !important
  font-family: styles.$inter-font !important
  font-weight: bold !important

.recordToDoctorButton
  width: max-content !important
  margin-top: 20px !important

.actionButtons
  display: flex !important
  flex-direction: column !important
  gap: 15px !important
  margin-left: 0 !important
  margin-right: 0 !important

.actionBtn
  width: 200px !important
  height: 53px !important
  color: black !important
  border: 1px solid #e0e0e0 !important
  border-radius: 6px !important
  justify-content: flex-start !important
  padding: 4px 9px !important

.actionBtnIcon
  margin-left: .5vw !important

.actionBtnTitle
  font-size: .8rem !important
  font-family: styles.$inter-font !important

.actionBtnInfo
  display: flex !important
  flex-direction: column !important
  align-items: flex-start !important
  margin-left: 1vw !important

.actionBtnMedicName
  font-size: .5rem !important
  font-family: styles.$inter-font !important
  font-weight: bold !important

.contactPhone
  color: styles.$primary-color !important
  font-family: styles.$montserrat-font !important
  font-weight: bold !important

@media (max-width: 900px)
  .medicCard
    flex-direction: column !important

  .header
    display: flex !important

  .headerName
    margin-left: 20px !important

  .primaryInfo
    margin-left: 0 !important
    margin-top: 20px !important

  .medicInfoBtn
    margin-top: 10px !important
    margin-right: 8px !important

  .actionButtons
    margin-left: 0 !important
    flex-direction: row !important
    margin-top: 20px !important

@media (max-width: 500px)
  .medicCard
    padding: 20px !important