@use "../../App" as styles

.descriptionContainer
  display: flex !important
  flex-direction: column !important
  align-items: center !important
  width: 100% !important
  min-height: 255px !important
  height: auto !important
  margin-top: 30px !important
  border-radius: 10px !important
  background-color: styles.$primary-color !important
  color: white !important

.descriptionTitle, .descriptionInfo
  letter-spacing: 0.05em !important

.descriptionTitle
  margin-top: 40px !important
  font-size: 30px !important
  line-height: 64px !important
  font-family: styles.$montserrat-font !important
  font-weight: bold !important

.descriptionInfo
  max-width: 836px !important
  margin-top: 19px !important
  margin-bottom: 90px !important
  text-align: center !important
  font-size: 20px !important
  line-height: 24px !important
  font-family: styles.$inter-font !important
  font-weight: 500 !important