@use "../../App" as styles

.slideContainer
  width: 99.027% !important
  min-height: 149px !important
  height: auto !important
  margin-top: 40px !important
  border-radius: 20px !important
  background-image: url("../../assets/vector_bg.svg") !important
  background-size: cover !important
  background-repeat: no-repeat !important

.slideTitle, .listItem
  font-family: styles.$montserrat-font !important
  font-weight: bold !important

.slideTitle
  display: flex !important
  flex-direction: column !important
  margin-left: 115px !important
  padding-top: 23px !important
  font-size: 30px !important
  letter-spacing: 0.05em !important
  line-height: 37px !important

.featureList
  display: flex !important
  gap: 16px !important

  li
    font-family: styles.$montserrat-font !important

    p
      font-size: 20px
      font-weight: 600 !important

    &:last-child
      list-style-type: none !important

      button
        width: 186px !important
        height: 37px !important
        border-radius: 13px !important
        font-size: 13px !important
        font-family: styles.$montserrat-font !important
        font-weight: bold !important
        line-height: 16px