@use "../../App" as styles

.slideContainer
  width: 99.027%
  min-height: 149px
  height: auto
  margin-top: 40px
  background-image: url("../../assets/vector_bg.svg")
  background-size: cover
  background-repeat: no-repeat

.slideTitle, .listItem
  font-family: styles.$montserrat-font !important
  font-weight: bold !important

.slideTitle
  margin-left: 10.268%
  margin-top: 23px
  font-size: 30px

.featureList
  display: flex
  margin-top: 21px
  margin-bottom: 44px

  li
    font-family: styles.$montserrat-font

    p
      font-size: 20px
      font-weight: 600 !important

    &:last-child
      list-style-type: none

      button
        font-size: 13px !important
        font-family: styles.$montserrat-font !important
        font-weight: bold !important
        line-height: 16px