@use "../../App" as styles

.slideContainer
  width: 99.027%
  min-height: 149px
  height: auto
  margin-top: 40px
  border-radius: 20px
  background-image: url("../../assets/vector_bg.svg")
  background-size: cover
  background-repeat: no-repeat

.slideTitle, .listItem
  font-family: styles.$montserrat-font !important
  font-weight: bold !important

.slideTitle
  display: flex
  flex-direction: column
  margin-left: 115px
  padding-top: 23px
  font-size: 30px
  letter-spacing: 0.05em
  line-height: 37px

.featureList
  display: flex
  gap: 16px

  li
    font-family: styles.$montserrat-font

    p
      font-size: 20px
      font-weight: 600 !important

    &:last-child
      list-style-type: none

      button
        width: 186px !important
        height: 37px !important
        border-radius: 13px !important
        font-size: 13px !important
        font-family: styles.$montserrat-font !important
        font-weight: bold !important
        line-height: 16px