@use "../../App?v=1.0.1" as styles

.container
  width: 90vw
  padding-bottom: 60vh

.containerTitle
  font-family: styles.$montserrat-font !important
  font-weight: bold !important
  margin: 15vh 0 10vh !important

.medicalAnalyses
  display: flex
  align-items: center

  > div, > img
    width: 50%

.analysesTitle, .listItem
  font-family: styles.$inter-font !important
  font-weight: 600 !important

.analysesTitle
  color: styles.$primary-color

.redirectBtn
  width: 45% !important
  margin-top: 2vh

.listItem
  margin-top: 1vh