@use "../../App" as styles

.pricePosition
  display: flex !important
  justify-content: space-between !important

  p
    font-family: styles.$montserrat-font !important
    font-size: 20px !important
    letter-spacing: 0.05em !important
    line-height: 61px !important

    &:first-child
      font-weight: 500 !important

    &:last-child
      font-weight: 600 !important