@use "../../App" as styles

.card
  display: flex !important
  flex-direction: column !important
  gap: 41px !important
  max-width: 276px !important
  min-height: 392px !important
  padding: 28px 35px 0 !important
  border: 1px solid #cccccc !important
  border-radius: 10px !important

  > div
    display: flex !important

.cardInfo
  gap: 15px !important

.firstRow
  display: flex !important
  flex-direction: column !important
  gap: 38px !important

.buttonText
  text-align: center !important
  font-size: 10px !important
  font-weight: 600 !important
  font-family: styles.$inter-font !important
  letter-spacing: 0.05em !important
  line-height: 12px !important

.buttonQuantity
  color: styles.$primary-color !important

.avatarContainer
  width: 7.578vw !important
  height: 134px !important
  margin-left: 10.116% !important
  margin-top: 28px !important
  border-radius: 4px !important
  background-color: rgba(234, 234, 234, 0.53) !important

.initialInfoContainer
  margin-top: 7px !important

.fullName, .occupation
  font-weight: 600 !important
  letter-spacing: 0.05em !important

.fullName
  width: 32.659% !important
  font-size: 12px !important
  line-height: 15px !important
  font-family: styles.$montserrat-font !important

.occupation
  margin-top: 15px !important
  color: styles.$primary-color !important
  font-size: 10px !important
  line-height: 12px !important
  font-family: styles.$inter-font !important

.infoButtonsContainer
  display: flex !important
  flex-direction: column !important
  gap: 11px !important

  button
    width: 100px !important
    height: 29px !important
    padding: 0 !important
    color: black !important
    border: 0.2px solid #cccccc !important
    border-radius: 10px !important


.briefSpecialty
  margin-top: 38px !important

.briefSpecialtyLabel
  font-size: 9px !important
  font-weight: 500 !important
  font-family: styles.$inter-font !important
  letter-spacing: 0.05em !important
  line-height: 11px !important

.briefSpecialtyText
  font-size: 12px !important
  font-weight: 600 !important
  font-family: styles.$inter-font !important
  letter-spacing: 0.05em !important
  line-height: 15px !important

.firstRow
  gap: 1.172vw !important

.medicImage
  width: 97px !important
  height: 134px !important
  background-color: rgba(234, 234, 234, 0.53) !important
  border-radius: 4px !important

.actionButtonsContainer
  display: flex !important
  flex-direction: column !important
  gap: 7px !important

  button
    width: 275px !important
    height: 43px !important

    &:first-child
      background-color: white !important
      color: styles.$primary-color !important
      border: 1px solid styles.$primary-color !important

    &:last-child
      background-color: styles.$primary-color !important