@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #fafafa !important;
  font-family: "Inter", sans-serif !important;
  min-height: 100vh !important;
  height: auto !important;
  margin: 0 !important;
}

.app-container {
  max-width: 1131px !important;
  margin: 0 auto !important;
}

button {
  width: 12vw !important;
  height: 6.25vh !important;
  padding: 2.326% 4.762% !important;
  color: white !important;
  border-radius: 3.255vw !important;
  font-family: "Inter", sans-serif !important;
  font-size: 12.2px !important;
  font-weight: bold !important;
  text-transform: none !important;
  text-align: center !important;
  line-height: 61px !important;
  letter-spacing: 0.05em !important;
  white-space: nowrap;
}

.primaryBtn {
  background-color: #3c79ff !important;
}

.secondaryBtn {
  background-color: #ff8c00 !important;
}

.transparentBtn {
  background-color: transparent !important;
  border: none !important;
}

.card {
  display: flex !important;
  flex-direction: column !important;
  gap: 41px !important;
  min-width: 283px !important;
  min-height: 448px !important;
  padding: 28px 35px 0 !important;
  border: 1px solid #cccccc !important;
  border-radius: 10px !important;
}
.card > div {
  display: flex !important;
}

.cardInfo {
  gap: 15px !important;
}

.firstRow {
  display: flex !important;
  flex-direction: column !important;
  gap: 38px !important;
}

.buttonText {
  text-align: center !important;
  font-size: 10px !important;
  font-weight: 600 !important;
  font-family: "Inter", sans-serif !important;
  letter-spacing: 0.05em !important;
  line-height: 12px !important;
}

.buttonQuantity {
  color: #3c79ff !important;
}

.avatarContainer {
  width: 7.578vw !important;
  height: 134px !important;
  margin-left: 10.116% !important;
  margin-top: 28px !important;
  border-radius: 4px !important;
  background-color: rgba(234, 234, 234, 0.53) !important;
}

.initialInfoContainer {
  margin-top: 7px !important;
}

.fullName, .occupation {
  font-weight: 600 !important;
  letter-spacing: 0.05em !important;
}

.fullName {
  width: 32.659% !important;
  font-size: 12px !important;
  line-height: 15px !important;
  font-family: "Montserrat", sans-serif !important;
}

.occupation {
  margin-top: 15px !important;
  color: #3c79ff !important;
  font-size: 10px !important;
  line-height: 12px !important;
  font-family: "Inter", sans-serif !important;
}

.infoButtonsContainer {
  display: flex !important;
  flex-direction: column !important;
  gap: 11px !important;
}
.infoButtonsContainer button {
  width: 100px !important;
  height: 29px !important;
  padding: 0 !important;
  color: black !important;
  border: 0.2px solid #cccccc !important;
  border-radius: 10px !important;
}

.briefSpecialty {
  margin-top: 38px !important;
}

.briefSpecialtyLabel {
  font-size: 9px !important;
  font-weight: 500 !important;
  font-family: "Inter", sans-serif !important;
  letter-spacing: 0.05em !important;
  line-height: 11px !important;
}

.briefSpecialtyText {
  font-size: 12px !important;
  font-weight: 600 !important;
  font-family: "Inter", sans-serif !important;
  letter-spacing: 0.05em !important;
  line-height: 15px !important;
}

.firstRow {
  gap: 1.172vw !important;
}

.medicImage {
  width: 97px !important;
  height: 134px !important;
  background-color: rgba(234, 234, 234, 0.53) !important;
  border-radius: 4px !important;
}

.actionButtonsContainer {
  display: flex !important;
  flex-direction: column !important;
  gap: 7px !important;
}
.actionButtonsContainer button {
  width: 275px !important;
  height: 43px !important;
}
.actionButtonsContainer button:first-child {
  background-color: white !important;
  color: #3c79ff !important;
  border: 1px solid #3c79ff !important;
}
.actionButtonsContainer button:last-child {
  background-color: #3c79ff !important;
}

/*# sourceMappingURL=smallMedicCard.module.css.map */
