@use "../../App" as styles

.menuSection
  display: flex !important
  flex-flow: column wrap !important
  width: calc(100% - 64px) !important
  height: 712px !important
  margin-top: 21px !important
  padding-left: 64px !important
  padding-top: 68px !important
  padding-bottom: 69px !important
  border-radius: 30px !important
  background-color: white !important

.letterSection
  display: flex !important
  margin-top: 27px !important

.letterTitle
  color: styles.$primary-color !important
  font-family: styles.$montserrat-font !important
  font-weight: bold !important
  font-size: 20px !important
  letter-spacing: 0.05em !important
  line-height: 24px !important

.letterList
  display: flex !important
  flex-direction: column !important
  margin-left: 11px !important
  margin-top: 3px !important

.link
  color: black !important
  font-family: styles.$montserrat-font !important
  font-weight: 500 !important
  font-size: 15px !important
  letter-spacing: 0.05em !important
  line-height: 18px !important
  text-decoration: none !important
  transition: all .1s ease-out !important

  &:hover
    color: styles.$primary-color !important
    text-decoration: underline !important