@use "../../App" as styles

.equipmentSection
  width: 85.156vw !important
  margin-top: 32px !important
  margin-bottom: 325px !important

.sectionTitle
  width: 28.984vw !important
  font-family: styles.$montserrat-font !important
  font-weight: bold !important
  font-size: 40px !important
  letter-spacing: 0.05em !important
  line-height: 61px !important

.cardsContainer
  display: flex !important
  gap: 2.969vw !important
  margin-top: 61px !important