@use "../../App" as styles

.equipmentSection
  width: 85.156vw
  margin-top: 32px
  margin-bottom: 325px

.sectionTitle
  width: 28.984vw
  font-family: styles.$montserrat-font
  font-weight: bold
  font-size: 40px
  letter-spacing: 0.05em
  line-height: 61px

.cardsContainer
  display: flex
  gap: 2.969vw
  margin-top: 61px