@use "../../App" as styles

.tileTitle
  font-family: styles.$montserrat-font
  font-size: 30px
  letter-spacing: 0.05em

.tile
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 264px
  height: auto
  margin-top: 32px
  padding-bottom: 43px
  padding-inline: 27px
  padding-top: 46px
  background-color: styles.$primary-color
  color: white

.descriptionContainer
  display: flex
  flex-direction: column

.tileDescription
  font-family: styles.$inter-font
  letter-spacing: 0.05em

.detailsBtn
  width: 191px !important
  height: 43px !important
  border-radius: 10px !important