@use "../../App" as styles

.footer
  position: absolute
  left: 0
  bottom: 0
  display: flex
  row-gap: 5vh
  align-items: center
  width: 100vw
  min-height: 221px
  height: auto
  background-color: styles.$primary-color
  color: white

.footerColumn
  display: flex
  flex-direction: column

.flagmanColumn
  align-items: center
  margin-left: 15.703vw

.sectionsColumn
  gap: 26.22px
  margin-left: 15.469vw

.contactsColumn
  gap: 24.07px
  margin-left: 18.281vw

.companyName
  font-size: 30px !important
  font-weight: bold !important
  font-family: styles.$montserrat-font !important
  letter-spacing: 0 !important
  line-height: 80px !important
  white-space: nowrap

.contactUsBtn
  width: 221px !important
  padding: 11.7px 0 !important

.contactUsTypography
  font-size: 12px !important
  font-family: styles.$montserrat-font !important
  font-weight: bold !important
  letter-spacing: 0 !important
  line-height: 15px !important

.section
  font-size: 16px !important
  font-family: styles.$montserrat-font !important
  font-weight: bold !important

.contactRow
  display: flex
  gap: .5vw

.contactInfo
  font-family: styles.$noto-sans-font !important
  font-weight: bold !important