@use "../../App" as styles

.footer
  display: flex !important
  row-gap: 5vh !important
  align-items: center !important
  width: 100vw !important
  min-height: 221px !important
  height: auto !important
  background-color: styles.$primary-color !important
  color: white !important

.footerColumn
  display: flex !important
  flex-direction: column !important

.flagmanColumn
  align-items: center !important
  margin-left: 15.703vw !important

.sectionsColumn
  gap: 26.22px !important
  margin-left: 15.469vw !important

.contactsColumn
  gap: 24.07px !important
  margin-left: 18.281vw !important

.companyName
  font-size: 30px !important
  font-weight: bold !important
  font-family: styles.$montserrat-font !important
  letter-spacing: 0 !important
  line-height: 80px !important
  white-space: nowrap !important

.contactUsBtn
  width: 221px !important
  padding: 11.7px 0 !important

.contactUsTypography
  font-size: 12px !important
  font-family: styles.$montserrat-font !important
  font-weight: bold !important
  letter-spacing: 0 !important
  line-height: 15px !important

.section
  font-size: 16px !important
  font-family: styles.$montserrat-font !important
  font-weight: bold !important

.contactRow
  display: flex
  gap: .5vw

.contactInfo
  font-family: styles.$noto-sans-font !important
  font-weight: bold !important