@use "../../App" as styles

.footer
  position: absolute
  left: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: center
  gap: 20vw
  width: 100%
  height: 40vh
  background-color: styles.$primary-color
  color: white

.flagmanColumn
  align-items: center

.footerColumn
  display: flex
  flex-direction: column
  gap: 2.5vh

.companyName
  font-weight: bold !important
  font-family: styles.$montserrat-font !important

.contactUsBtn
  width: 17.5vw !important

.contactUsTypography
  font-weight: styles.$inter-font !important
  font-weight: bold !important

.section
  font-family: styles.$montserrat-font !important
  font-weight: bold !important

.contactRow
  display: flex
  gap: .5vw

.contactInfo
  font-family: styles.$noto-sans-font !important
  font-weight: bold !important